streamlit
numpy
opencv-python-headless
torch
torchvision
Pillow
matplotlib
pandas
scikit-learn
datetime
seaborn
pip install <new_or_updated_package>
pip freeze > requirements.txt
git add requirements.txt
git commit -m "Update requirements with <package_name>"
